[submodule "ptgprocess/EgoVLP"]
	path = ptgprocess/EgoVLP
	url = https://github.com/beasteers/EgoVLP.git
[submodule "ptgprocess/Detic"]
	path = ptgprocess/Detic
	url = https://github.com/facebookresearch/Detic.git
[submodule "ptgprocess/EgoHOS"]
	path = ptgprocess/EgoHOS
	url = https://github.com/owenzlz/EgoHOS
[submodule "reasoning/tim-reasoning"]
	path = reasoning/tim-reasoning
	url = git@github.com:VIDA-NYU/tim-reasoning.git
[submodule "ptgprocess/auditory-slow-fast"]
	path = ptgprocess/auditory-slow-fast
	url = git@github.com:beasteers/auditory-slow-fast.git
[submodule "ptgprocess/procedural_step_recog"]
	path = ptgprocess/procedural_step_recog
	url = https://github.com/beasteers/procedural_step_recog.git
[submodule "3d-memory/3d-memory"]
	path = 3d-memory/3d-memory
	url = git@github.com:VIDA-NYU/3d-memory.git
[submodule "perception/procedural_step_recog"]
	path = perception/procedural_step_recog
	url = git@github.com:beasteers/procedural_step_recog.git
