[submodule "ptgprocess/EgoVLP"]
	path = ptgprocess/EgoVLP
	url = https://github.com/beasteers/EgoVLP.git
[submodule "ptgprocess/Detic"]
	path = ptgprocess/Detic
	url = https://github.com/facebookresearch/Detic.git
[submodule "ptgprocess/EgoHOS"]
	path = ptgprocess/EgoHOS
	url = https://github.com/owenzlz/EgoHOS
[submodule "reasoning/tim-reasoning"]
	path = reasoning/tim-reasoning
	url = https://github.com/VIDA-NYU/tim-reasoning.git
[submodule "ptgprocess/auditory-slow-fast"]
	path = ptgprocess/auditory-slow-fast
	url = https://github.com/beasteers/auditory-slow-fast.git
[submodule "ptgprocess/procedural_step_recog"]
	path = ptgprocess/procedural_step_recog
	url = https://github.com/beasteers/procedural_step_recog.git
[submodule "3d-memory/3d-memory"]
	path = 3d-memory/3d-memory
	url = https://github.com/VIDA-NYU/3d-memory.git
[submodule "perception/XMem"]
	path = perception/XMem
	url = https://github.com/beasteers/XMem
[submodule "perception/object-states"]
	path = perception/object-states
	url = https://github.com/VIDA-NYU/object-states.git
[submodule "perception/Detic"]
	path = perception/Detic
	url = https://github.com/beasteers/Detic.git
[submodule "perception/EgoHOS"]
	path = perception/EgoHOS
	url = https://github.com/beasteers/EgoHOS.git
