torch
librosa
simplejson
h5py
fvcore
psutil

gdown

hydra-core
einops
pytorchvideo
timm
torchvision
torchaudio
pandas

opencv-python
git+https://github.com/openai/CLIP.git
orjson
tqdm

#ray
ray[default]

lancedb
